*{
    margin :0;
    padding :0;
    box-sizing: border-box;
}
header{
    background-color: aqua;
    height: 70px;
    display: flex;
}
.container{
    width: 80%;
    margin: 0 auto;
   align-items: center;
}
.flex-content{
    display: flex;
}
.logo{
    flex-grow: 1;
}
nav{
    flex-grow: 3;
}
.login{
    flex-grow: 1;
    text-align: right;
}
button{
    padding: 2px;
}
ul{
    justify-content: space-around;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
}
.section-head{
    background-color: blue;
    padding: 20px;
}
.box{
    width: 60%;
    margin: 0 auto;
    height: 200px;
    background-color: blueviolet;
}
.sectionCol{
    background-color: white;
    padding: 20px;
}
.img{
    background-color: blue;
    flex-basis: 60%;
    height: 250px;
}
.text-area{
    background-color: rgb(192, 219, 19);
    flex-basis: 40%;
    height: 250px;
}
.articol{
    width: 80%;
    margin: 0 auto;
    height: 350px;
    background-color: green;
}
.section-color{
    background-color: rgba(189, 188, 188, 0.643);
}
footer{
    background-color: black ;
    padding-top: 10px;
}
.element{
    margin-bottom: 10px;
}
.element-img{
    height: 250px;
    background-color: pink;
    flex-grow: 2;
}
.section-item{
    background-color: cadetblue;
    height: 250px; 
    flex-grow: 1;
    border: 1px dotted white;
}
hr{
    border-color:  rgba(189, 188, 188, 0.643);;
}
.section-footer{
    background-color: aquamarine;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}